@{
    ViewBag.Title = "Transfer Canvas";
}

@Scripts.Render("~/bundles/canvas")


<h2>Transfer Canvas</h2>
<p>Items gotten from sender canvas appear here.</p>

<div id="canvasContainer">
    <canvas id="myCanvas3" height="450" width="650"></canvas>  
</div>

@Html.ActionLink("Go Back To Sender Canvas", "Index", new { area = "", controller = "Home", }, new { @class = "btn btn-info" })


@section Scripts {
    @Scripts.Render("~/bundles/canvas") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/fabric") @*For validate and validate-unobtrusive*@

<video height="360" width="480" id="video1" style="display: none" class="canvas-img">
    <source src="http://html5demos.com/assets/dizzy.mp4">
    <source src="http://html5demos.com/assets/dizzy.ogv">
</video>

    <script type="text/javascript">

    var jsongotten =localStorage.getItem('JSONStorage');
    var canvas3 = new fabric.Canvas('myCanvas3');

    var video1El = document.getElementById('video1');

    var video1 = new fabric.Image(video1El, {
        left: 350,
        top: 300,
        angle: -15,
        originX: 'center',
        originY: 'center'
    });

    canvas3.add(video1);
    video1.getElement().play();

    canvas3.loadFromJSON(jsongotten, canvas3.renderAll.bind(canvas3));


    fabric.util.requestAnimFrame(function render() {
        canvas3.renderAll();
        fabric.util.requestAnimFrame(render);
    });
    </script>




}