
@{
    ViewBag.Title = "Partial View Transfer Canvas";
}

@Scripts.Render("~/bundles/canvas")

<h2>Transfer Canvas</h2>
<div id="canvasContainer">
    <canvas id="myCanvas2" height="450" width="650"></canvas>
</div>


    @Scripts.Render("~/bundles/canvas") @*For unobtrusive-ajax*@
    @Scripts.Render("~/bundles/fabric") @*For validate and validate-unobtrusive*@





